body {
  margin: 0;
  padding: 0;
  /* background-image: url("../images/white-4298475_1920.jpg");
  background-repeat: no-repeat; */
  font-family: "Comfortaa", cursive;
}

/* Nav Bar */

.sticklogo {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
}
.our-navbar li a {
  text-decoration: none;
  color: rgb(63, 60, 60);
}

.navbar-header button {
  border: 0 solid transparent;
  font-size: 1.5em;
}

/* Home and Office */

.homeandoffice {
  margin-top: 30vh;
  margin-bottom: 30vh;
}
.homeofficeoutside {
}
.hometitle {
  position: absolute;
  color: white;
  top: 30vh;
  left: 5vw;
}
.homeofficetext {
  position: absolute;
  color: white;
  top: 40vh;
  text-align: center;
  padding-left: 5vw;
  padding-right: 5vw;
}
/* Slider */
.portfolio {
  margin-bottom: 10vh;
  letter-spacing: 1.5px;
}
/* CEO Section */
.aboutus {
  margin-top: 20vh;
  letter-spacing: 1.5px;
}
.ceo {
  margin-top: 10vh;
  margin-bottom: 20vh;
  padding: 3%;
}

.ceo-title {
  padding-top: 1vh;
}
.text {
  line-height: 1.7rem;
}

/* Footer */
footer a:hover {
  color: white !important;
  text-decoration: none;
}
