.page2heading {
  margin-bottom: 40px;
}

.ceo {
  margin-top: 100px;
}
.ceoheading {
  margin-bottom: 40px;
}
.phototext {
  margin-top: 40px;
  margin-bottom: 80px;
}

footer a:hover {
  color: black !important;
  text-decoration: none;
}
