body {
  margin: 0;
  padding: 0;
  background-image: url("../images/white-4298475_1920.jpg");
  font-family: "Comfortaa", cursive;
}

/* Nav Bar */
.nav-top {
  margin-top: 35px;
}

/* Home and Office */

.homeandoffice {
  margin-top: 70px;
  margin-bottom: 100px;
}
.homeandofficeheading {
  padding-bottom: 10px;
}
.our-navbar li a {
  text-decoration: none;
  color: rgb(63, 60, 60);
}

.navbar-header button {
  border: 0 solid transparent;
  font-size: 1.5em;
}

/* CEO Section */
.ceo {
  margin-top: 200px;
  margin-bottom: 200px;
}

.ceo-heading {
  padding-bottom: 10px;
  padding-left: 5px;
}
/* Footer */
footer a:hover {
  color: black !important;
  text-decoration: none;
}
