body {
  margin: 0;
  padding: 0;
  background-image: url("../images/white-4298475_1920.jpg");
  font-family: "Comfortaa", cursive;
}

/* Nav Bar */
.page2heading {
  margin-top: 40px;
  margin-bottom: 80px;
}
.our-navbar li a {
  text-decoration: none;
  color: rgb(63, 60, 60);
}

.navbar-header button {
  border: 0 solid transparent;
  font-size: 1.5em;
}
/*page content*/
.card-img {
  height: 500px;
  width: 750px;
}

.header {
  margin-top: 50px;
  margin-bottom: 90px;
}
/*links*/
.citylink {
  color: black;
}
.citylink:hover {
  color: black;
}

/* Footer */
footer a:hover {
  color: black !important;
  text-decoration: none;
}
