body {
  margin: 0;
  padding: 0;
  /*background-image: url("../images/white-4298475_1920.jpg")*/
  font-family: "Comfortaa", cursive;
}

/* Nav Bar */

.sticklogo {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
}
.our-navbar li a {
  text-decoration: none;
  color: rgb(63, 60, 60);
}

.navbar-header button {
  border: 0 solid transparent;
  font-size: 1.5em;
}

/*page content*/
.heading {
  font-size: 3.5em;
  padding-top: 60px;
}
.card-img {
  width: 100vw;
  height: 100vh;
}
.card1 {
  border: none;
}

.header {
  margin-top: 50px;
  margin-bottom: 90px;
}
/*links*/
.citylink {
  color: black;
}
.citylink:hover {
  color: black;
}

/* Footer */
footer a:hover {
  color: white !important;
  text-decoration: none;
}

@media screen and (max-width: 770px) {
  .heading {
    font-size: 2.5em;
  }
  .get-smaller-pic {
    text-align: center;
    width: 80vw;
    height: 60vw;
    /*TODO*/
    /*margin-left: 15%;*/
  }
  .adress-card {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}
