body {
  margin: 0;
  padding: 0;
  font-family: "Comfortaa", cursive;
}

h1,
h2,
h3,
h4,
h5,
p {
  color: #4d4d4d;
}

.nav-button {
  background-color: rgba(255, 255, 255, 0.534);
  color: #4d4d4d;
}

.our-navbar li a {
  color: #4d4d4d;
}

.navbar-header button {
  border: 0 solid transparent;
  font-size: 1.3em;
  background-color: rgba(255, 255, 255, 0.534);
}

.navbar-header button:focus {
  outline: none;
}

#brand-logo {
  position: fixed;
  top: 0px;
  right: 30px;
}

.all-navlinks {
  font-size: 1em;
  text-align: left;
  padding-left: 5px;
  line-height: 40px;
  background-color: rgba(255, 255, 255, 0.534);
  border: 0 solid transparent;
}

/* Footer */
footer a:hover {
  color: white !important;
  text-decoration: none;
}
