body {
  margin: 0;
  padding: 0;
  background-image: url("/images/white-4298475_1920.jpg");
  font-family: "Comfortaa", cursive;
}

/*Navigation menu */

.our-navbar li a {
  text-decoration: none;
  color: rgb(63, 60, 60);
}

.navbar-header button {
  border: 0 solid transparent;
  font-size: 1.5em;
}

/*logo home*/
.logo {
  display: flex;
  justify-content: center;
}
.logo img {
}

/*Links to Portfolio, Stores and News on home*/

.main-links {
  display: flex;
  height: 500px;
  align-content: space-around;
  justify-content: center;
  padding: 50px;
  margin-top: 50px;
}

.page-link {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: transparent;
  padding: 50px;
  height: 100px;
  color: rgb(122, 117, 117);
}

.page-link a {
  text-decoration: none;
  color: rgb(63, 60, 60);
  font-size: 2em;
  padding: 20px;
}

.page-link:hover > a {
  color: rgb(122, 117, 117);
  font-size: 3em;
}

.page-link:hover {
  background-color: transparent;
}

#arrow img {
  max-width: 60px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
